%h3
  売り上げ詳細
  .totalSales
    %h4
      獲得総売上
    .icon
      .paundy
        224,200
      .totalsolvedcount
        30
      .getprice
        5,400
      .paymentfee
        177,430
      .coins
        52,000