.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypageclearedups
    %h3
      解決した質問一覧
    .clearedup
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 解決済
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .clearedup
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 解決済
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .clearedup
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 解決済
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .clearedup
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 解決済
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
