.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypageContracts
    %h3
      請負申請者一覧
    .contractApp
      .contractAppIcon
      .contractAppdetails
        %p.contractAppdetailsDate 2019/7/30　　22:00
        %p.contractAppdetailsFromUser
          %span "Tokyo google"
          さんから
        %p.contractAppdetailsTitle
          %span "世界を支配できません"
          への請負申請がありました。
    .contractApp
      .contractAppIcon
      .contractAppdetails
        %p.contractAppdetailsDate 2019/7/30　　22:00
        %p.contractAppdetailsFromUser
          %span "Tokyo google"
          さんから
        %p.contractAppdetailsTitle
          %span "世界を支配できません"
          への請負申請がありました。
    .contractApp
      .contractAppIcon
      .contractAppdetails
        %p.contractAppdetailsDate 2019/7/30　　22:00
        %p.contractAppdetailsFromUser
          %span "Tokyo google"
          さんから
        %p.contractAppdetailsTitle
          %span "世界を支配できません"
          への請負申請がありました。
    .contractApp
      .contractAppIcon
      .contractAppdetails
        %p.contractAppdetailsDate 2019/7/30　　22:00
        %p.contractAppdetailsFromUser
          %span "Tokyo google"
          さんから
        %p.contractAppdetailsTitle
          %span "世界を支配できません"
          への請負申請がありました。
