.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypagesNotifications
    %h3
      お知らせ詳細
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        -#idは動的に取得し、オープンクローズ機能で利用
        .noticeItemsIconDown.fas.fa-angle-down{id: "notice-1"}
        .noticeItemsIconUp.fas.fa-angle-up{id: "notice-1"}
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody{id: "notice-1"}
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        .noticeItemsIconDown.fas.fa-angle-down
        .noticeItemsIconUp.fas.fa-angle-up""
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        .noticeItemsIconDown.fas.fa-angle-down
        .noticeItemsIconUp.fas.fa-angle-up
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        .noticeItemsIconDown.fas.fa-angle-down
        .noticeItemsIconUp.fas.fa-angle-up
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        .noticeItemsIconDown.fas.fa-angle-down
        .noticeItemsIconUp.fas.fa-angle-up
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
    .notice
      .noticeItems
        .noticeItemsDate 2019/3/28
        .noticeItemsIconDown.fas.fa-angle-down
        .noticeItemsIconUp.fas.fa-angle-up
      .noticeTitle
        %p サーバーがサボり始めましたあああああああああああああああああああああああ
      .noticeBody
        %p いつも、4Qodeをご愛用いただきありがとうございます。
        %br
        %br
        %br
        %p ユーザーの皆様にご不便をおかけしています。
        誠に驚きなのですが、サーバーがサボることを覚えました。
        それでも末長く、お付き合いしていただけたらと思います。
        %br
        %br
        %p 今後とも4Qodeを何卒よろしくお願い致します。
