.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypageOpenquestions
    %h3
      未解決の質問一覧
    .openquestion
      -# メッセージがない時は非表示
      .news
        .fas.fa-exclamation-circle
        %p.message 請負申請依頼がN件あります
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 回答受付中
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .openquestion
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 回答受付中
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .openquestion
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 回答受付中
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
    .openquestion
      -# メッセージがない時は非表示
      .news
        .fas.fa-exclamation-circle
        %p.message 請負申請依頼がN件あります
      .labels
        .label{id: "lang_id"} ruby
        .label{id: "lang_id"} Python
      %h4.title
        urlのハッシュ化ができません
      .statuses
        .status 回答受付中
        .views 閲覧数:　12
        .answers 回答数:　4
      .date
        .postDate 投稿日　　2019/7/23　12:45
        .deadline 回答締切日　　2019/7/30　12:45
