.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypageSales
    %h3
      売り上げ
    .saleHeader
      = render partial: "header"
    %h3
      履歴確認・売り上げ申請
    .salesLinks
      .saleshistory
        売り上げ履歴
      .salestake
        振り込み申請をして現金を受け取る
      .saleslimit
        売上金振込申請期限

