.mypage
  .mypageSideBars
    = render partial: "sidebar"
  .mypageSolvedQs
    %h3
      解決した質問(解決側)
    .solvedQ
      .solvedQIcon
      .solvedQDetails
        %p.userName HIRO OSHIMA
        %p.PostedDate 　　投稿日　　2019/7/30　22:00
        %h4.title 地球制服が出来ません
        .statuses
          .status 解決済
          .views 閲覧数:　12
          .answers 回答数:　4
    .solvedQ
      .solvedQIcon
      .solvedQDetails
        %p.userName HIRO OSHIMA
        %p.PostedDate 　　投稿日　　2019/7/30　22:00
        %h4.title 地球制服が出来ません
        .statuses
          .status 解決済
          .views 閲覧数:　12
          .answers 回答数:　4
    .solvedQ
      .solvedQIcon
      .solvedQDetails
        %p.userName HIRO OSHIMA
        %p.PostedDate 　　投稿日　　2019/7/30　22:00
        %h4.title 地球制服が出来ません
        .statuses
          .status 解決済
          .views 閲覧数:　12
          .answers 回答数:　4
    .solvedQ
      .solvedQIcon
      .solvedQDetails
        %p.userName HIRO OSHIMA
        %p.PostedDate 　　投稿日　　2019/7/30　22:00
        %h4.title 地球制服が出来ません
        .statuses
          .status 解決済
          .views 閲覧数:　12
          .answers 回答数:　4
